<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>

	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
		  </protocols>
	  </webServices>
	  
    <customErrors mode="Off" />    
   <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
	<system.serviceModel>
		<!--<services>
			<service name="Fnb_Order.Service1">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="" behaviorConfiguration="RFEndPointBehavior"
				  contract="Fnb_Order.IService1" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="RFEndPointBehavior"  >
					<webHttp helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>

			<serviceBehaviors>
				<behavior name="RFEndPointBehavior">
					<serviceMetadata  httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

	<appSettings>
    <!--<add key="ConnectionString" value="Data Source=LAPTOP-P2AATSJB;Initial Catalog=freshplanet;persist security info=True; Integrated Security=SSPI;" />-->
    <add key="ConnectionString" value="Data Source=103.21.58.192;Initial Catalog=freshplanet;User ID=freshplanet;Password=Fresh@1234" />

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>